*.pyc
.idea/vcs.xml
.idea/workspace.xml
.DS_Store
.idea/workspace.xml
*.txt
*.pdf
*.mat
*.png
.ipynb_checkpoints/
NNagent_IRC_01262020(170602)_PNASoriginal.ipynb
NNagent_IRCfromFile-01262020(170602)_PNASoriginal.ipynb
IRC-encoding-recoding-decoding.ipynb
Results_old/
Untitled.ipynb
Results/01262020(151953)_data01262020(150900)_agentNNdriven01262020(170602)_twoboxCol_full.pkl
IRC-encoding-recoding-decoding.ipynb
NNagent_IRC_01262020(170602)-test.ipynb
