*.pyc
.idea/vcs.xml
.idea/workspace.xml
.DS_Store
.idea/workspace.xml
*.txt
*.pdf
*.mat
*.png
.ipynb_checkpoints/04302019(0246)twoboxCol_dataAnalyze-checkpoint.ipynb
.ipynb_checkpoints/IRC-encoding-recoding-decoding-checkpoint.ipynb
.ipynb_checkpoints/04302019(0246)twoboxCol_dataAnalyze-Copy1-checkpoint.ipynb
.ipynb_checkpoints/04302019(0246)twoboxCol_dataAnalyze_paraCenter-checkpoint.ipynb
.ipynb_checkpoints/neural_decoding_LR-checkpoint.ipynb
.ipynb_checkpoints/neural_decoding_LR_ZW-checkpoint.ipynb
.ipynb_checkpoints/neural_encoding-checkpoint.ipynb
.ipynb_checkpoints/neural_recoding_KRR-checkpoint.ipynb
.ipynb_checkpoints/NNagent_IRC_01262020(170602)_PNASoriginal-checkpoint.ipynb
.ipynb_checkpoints/NNagent_IRC_01262020(170602)-checkpoint.ipynb
.ipynb_checkpoints/NNagent_IRC_01262020(170602)_test-checkpoint.ipynb
.ipynb_checkpoints/NNagent_IRCfromFile-01262020(170602)-checkpoint.ipynb
.ipynb_checkpoints/NNagent_IRCfromFile-01262020(170602)_PNASoriginal-checkpoint.ipynb
NNagent_IRC_01262020(170602)_PNASoriginal.ipynb
NNagent_IRCfromFile-01262020(170602)_PNASoriginal.ipynb
Results/01262020(151953)_data01262020(150900)_agentNNdriven01262020(170602)_twoboxCol.pkl
